BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
ContinuationIndentWidth: 8
UseTab: Never
ColumnLimit: 100
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
ReflowComments: Never
BreakStringLiterals: false
